.image.component {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &[data-size="natural"] {
    width: auto;
    height: auto;
  }

  &[data-size="contain"] {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  &[data-size="fill"] {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // Alignment styles
  &[data-align="center"] { object-position: center; }
  &[data-align="n"] { object-position: top; }
  &[data-align="s"] { object-position: bottom; }
  &[data-align="e"] { object-position: right; }
  &[data-align="w"] { object-position: left; }
  &[data-align="ne"] { object-position: right top; }
  &[data-align="nw"] { object-position: left top; }
  &[data-align="se"] { object-position: right bottom; }
  &[data-align="sw"] { object-position: left bottom; }

  &[data-error="true"] { background: #f44336; }
  &[data-loaded="false"] {
    background: rgba(0, 0, 0, 0.1);
  }

  > .loading {
    animation: spin 1s linear infinite;
    border-top-color: #000;
    border: 3px solid rgba(0, 0, 0, 0.1);
    height: 32px;
    width: 32px;
  }

  > .error {
    background: #f44336;
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
} 
